<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mongo Scrapper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Saved Articles</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" id="scrape" data-toggle="modal" data-target="#confirmScrape">Scrape Articles</button>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    <h1 id="noArticles">There are no articles please click the scrape article button to see the latest news</h1>
    <div class="card-deck">
        <!--where the articles wil populate-->
    </div>
</div>

<!--modal confirming you have scrape articles-->
<div class="modal fade" id="confirmScrape" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Scraped Articles</h4>
            </div>
            <div class="modal-body">
                <p>Congratulations you have successfull scraped articles from the website http://www.newsmax.com/</p>
                <p>Please click on the button to see what articles where scrape.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="dispalyArticles">See Scrape Articles</button>

            </div>
        </div>
    </div>
</div>

<!--modal to add comments-->
<div class="modal fade" id="comments" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Comment Section</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleTextarea">Note</label>
                    <textarea class="form-control" id="userComment" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
